doctype html 
html(lang='en')
  head
    style 
      include ../Styles/style.css
     script 
      include ../Scripts/scripts.js   
    //- link(rel="stylesheet", href="../Styles/style.css", type='text/css')
    title Dibs Game Login 
  body 
    h1 Dibs Game Login 
    form( action="https://dibs-game.herokuapp.com/users/dashboard"
      method="POST"
      autocomplete="off") 
      input(type="text"
        id="uname"
        placeholder="Username"
        required
        name="uname")
      br
      input(type="password"
        id="pword"
        placeholder="Password"
        required
        name="pword")
      br
      input(type="submit" value="submit")
    p 
      a(href="https://dibs-game.herokuapp.com/users/register") Register Here 