doctype html 
html(lang="en")
  head 
    style 
      include ../Styles/style.css
     script 
      include ../Scripts/scripts.js 
    title Dibs Game Register
  body 
    div.login-page-register
      h1 Register
      form.full-login-form(action="http://localhost:3000/users/dash" method="POST" autocomplete="off")
        input.login-form(
          type="text"  id="fname"
          placeholder="First Name"
        required
          name="fname")
        br
        input.login-form(
          type="text"
          id="lname"
          placeholder="Last Name"
          required
        name="lname"
        )
        br
        input.login-form(
          type="text"
          id="uname"
          placeholder="Username"
          required
          name="uname"
        )
        br
        input.login-form(
          type="text"
          id="email"
          placeholder="Email"
          required
          name="email"
        )
        br
        input.login-form(
          type="password"
          id="pword"
          placeholder="Password"
          required
          name="pword"
        )
        br
        input.login-submit(
            type="submit"
            value="submit"
        )
      p.center 
        a.register-login-link(href="http://localhost:3000/users/") Login Here 

